body{
    background-color: rgb(35, 34, 34);
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.title-block{
    margin: 2rem;
    background:linear-gradient(to right,rgb(16, 84, 16),rgb(27, 150, 27));
    display: inline-block;
    width: 50%;
    border-radius: 4rem;
    padding-left: 12px;
}
.card{
    border-radius: 15px 15px 5px 5px;
    background-color: rgb(16, 16, 16);
    cursor: pointer;
    transition: transform 0.5s;
}
.card > img{
    border-radius: 15px 15px 0 0;
}
.card:hover{
    box-shadow: 3px;
    transform: scale(1.05);
}
.row {
    position: relative;
}
.side-bar{
    background-color: black;
    width: auto;
    height: 100vh;
    max-height: 150vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
}
.title-block-side-bar{
    width: max-content;
    background: linear-gradient(to right, rgb(16, 84, 16), rgb(27, 150, 27));
    border-radius: 2rem;
    padding: 0.2rem 0.7rem;
    margin: 2rem;
}
.content{
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.butn{
    background: linear-gradient(to right, rgb(16, 84, 16), rgb(221, 235, 28));
    color: black;
    border-radius: 2rem;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
@media screen and (max-width:1000px) {
    .side-bar {
        width: max-content;
        height: max-content;
        position: relative;
        margin-bottom: 5rem;
    }
    .title-block-side-bar {
        margin: 2rem auto;
    }
    .title-block {
        margin: 1rem;
        width: 70%;
    }
}