@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto&family=Source+Sans+Pro:wght@400;700;900&family=Ubuntu:wght@400;700&display=swap');

body{
    background-color: rgb(35, 34, 34);
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.title-block{
    margin: 2rem;
    background:linear-gradient(to right,rgb(16, 84, 16),rgb(27, 150, 27));
    display: inline-block;
    width: 50%;
    border-radius: 4rem;
    padding-left: 12px;
}
.card{
    border-radius: 15px 15px 5px 5px;
    background-color: rgb(16, 16, 16);
    cursor: pointer;
    transition: transform 0.5s;
}
.card > img{
    border-radius: 15px 15px 0 0;
}
.card:hover{
    box-shadow: 3px;
    transform: scale(1.05);
}
.row {
    position: relative;
}
.side-bar{
    background-color: black;
    width: auto;
    height: 100vh;
    max-height: 150vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
}
.title-block-side-bar{
    width: max-content;
    background: linear-gradient(to right, rgb(16, 84, 16), rgb(27, 150, 27));
    border-radius: 2rem;
    padding: 0.2rem 0.7rem;
    margin: 2rem;
}
.content{
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.butn{
    background: linear-gradient(to right, rgb(16, 84, 16), rgb(221, 235, 28));
    color: black;
    border-radius: 2rem;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
@media screen and (max-width:1000px) {
    .side-bar {
        width: max-content;
        height: max-content;
        position: relative;
        margin-bottom: 5rem;
    }
    .title-block-side-bar {
        margin: 2rem auto;
    }
    .title-block {
        margin: 1rem;
        width: 70%;
    }
}
.item-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 12, 12);
    margin: 10vh auto;
    width: 500px;
    border: 0.4rem solid rgb(16, 84, 16);
}
.decorator{
    padding: 1rem;
    margin: 1rem auto;
}
.changebtn{
    background: linear-gradient(to right, rgb(16, 84, 16), rgb(221, 235, 28));
    color: black;
    border-radius: 2rem;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    margin: 0.3rem auto;
    margin-bottom: 0.5rem;
    width: 130px;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.each-item{
    padding-top: 0.3rem;
    font-size: larger;
}
.title{
    margin: 3rem auto;
    margin-bottom: 0.5rem;
}
a{
    text-decoration: none;
}
a:hover{
    color: black;
}
.navbar-brand {
    margin: 12px 0 0 40px;
    font-family: 'Calligraffitti', cursive;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
}
.marg{
    margin: 20px auto;
}